<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' />
  </head>
  <body>
   <section>
    <input type="checkbox" id="check">
    <header>
      <h2><a href="#" class="logo">Logo</a></h2>
      <div class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Info</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
      </div>
      <label for="check">
        <i class="fas fa-bars menu-btn" ></i>
        <i class="fas fa-times close-btn" ></i>
      </label>
    </header>
    <div class="content">
      <div class="info">
        <h2>Record Ideas <br><span>Be Creative</span></h2>
        <p>Take notes effortlessly and stay organized with our intuitive app.
          Capture ideas, make to-do lists, and achieve more with ease.
          Turn your ideas into reality with our powerful note-taking features</p>
        <a href="users/signup" class="info-btn">Get Started</a>
        <a href="/users/allNotes" class="info-btn"> View Notes</a>
      </div>
    </div>
    <div class="media-icons">
      <a href="#"><i class="fab fa-facebook-f" ></i>
      </a>
      <a href="#"><i class="fab fa-twitter" ></i>
      </a>
      <a href="#"><i class="fab fa-instagram" ></i>
      </a>
    </div>
   
   </section>
  </body>
</html>
